<template>
    <div class="mt-5">
        <b-card-group v-if="!loading" columns>
            <b-col
                v-for="item in events"
                :key="item.event_id"
                col
                no-gutters
                class="mb-2 mt-2"
            >
                <Card :item="item" />
            </b-col>
        </b-card-group>

        <Spinner :show="loading" />
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

import Card from '@components/card';
import Spinner from '@components/spinner';

export default {
    components: {
        Card,
        Spinner
    },

    data() {
        return {
            loading: true
        };
    },

    computed: {
        ...mapGetters({
            events: 'content/events'
        })
    },

    methods: {
        ...mapActions({
            getEvents: 'content/getEvents'
        }),

        async featch() {
            try {
                await this.getEvents();
            } catch (error) {
                this.$toast.error(error);
            }

            this.loading = false;
        }
    },

    mounted() {
        this.featch();
    }
};
</script>

<style scoped>
@media (max-width: 768px) {
    .card-columns {
        column-count: 1;
    }
}

@media (min-width: 769px) {
    .card-columns {
        column-count: 2;
    }
}


</style>
