<template>
    <div class="notfound">
        <div class="notfound-404">
            <h1>
                <span>4</span>
                <span>0</span>
                <span>4</span>
            </h1>
        </div>
        <h2>Oops! Strona nie znaleziona</h2>
    </div>
</template>


<style scoped>
.notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

h1 span {
    font-size: 150px;
}

h2 {
    font-size: 40px;
    text-align: center;
}

.notfound-404 {
    text-align: center;
    font-weight: 900;
    margin: 0 auto;
    color: #13184f;
    text-transform: uppercase;
}
</style>
