<template>
    <div class="mt-5">
        <b-table v-if="!loading" :items="events" :fields="fields" show-empty>
        
            <template #cell(eventmedia)="row">
                <b-img
                    v-if="row.value.length"
                    v-bind="mainProps"
                    :src="row.value | image"
                />
            </template>

            <template #cell(more)="row">
                <b-card>
                    <div v-html="row.item.description" />
                </b-card>

                <tickets-table :tickets="row.item.tickets" />
            </template>
        </b-table>

        <Spinner :show="loading" />
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import moment from 'moment';
import Spinner from '@components/spinner';
import TicketsTable from '@components/ticketsTable';

export default {
    components: {
        Spinner,
        TicketsTable
    },

    data() {
        return {
            loading: true,
            mainProps: { width: 75, height: 75, class: 'm2' },
            fields: [
                {
                    key: 'event_id',
                    label: 'ID',
                    sortable: true,
                    sortDirection: 'desc'
                },
                {
                    key: 'eventmedia',
                    label: 'Image'
                },
                {
                    key: 'title',
                    label: 'Tytuł',
                    sortable: false,
                    class: 'text-center'
                },
                { key: 'more', label: 'More' },
                {
                    key: 'date_start',
                    label: 'start',
                    sortable: true,
                    formatter: value => {
                        return moment(String(value)).format('DD/MM/YYYY HH:mm');
                    }
                },

                {
                    key: 'date_end',
                    label: 'end',
                    sortable: true,
                    formatter: value => {
                        return moment(String(value)).format('DD/MM/YYYY HH:mm');
                    }
                }
            ]
        };
    },

    filters: {
        image(eventmedia) {
            if (eventmedia.length === 0) {
                return;
            }

            const media = eventmedia.find(item => item.file_type === 'image');
            return media.file;
        }
    },

    computed: {
        ...mapGetters({
            events: 'content/events'
        })
    },

    methods: {
        ...mapActions({
            getEvents: 'content/getEvents'
        }),

        async featch() {
            try {
                await this.getEvents();
            } catch (error) {
                this.$toast.error(error);
            }

            this.loading = false;
        }
    },

    mounted() {
        this.featch();
    }
};
</script>
