<template>
    <b-card
        :title="item.title"
        :img-src="item.eventmedia | image"
        img-alt="Image"
        img-top
    >
        <b-card-text>
            ID: {{ item.event_id }}
            <div v-html="item.description" />
            <tickets-table :tickets="item.tickets" />
        </b-card-text>

        <template #footer>
            <small class="text-muted">
                <div>
                    Start: {{ item.date_start | formatDate }} | End:
                    {{ item.date_end | formatDate }}
                </div>
            </small>
        </template>
    </b-card>
</template>

<script>
import moment from 'moment';
import TicketsTable from '@components/ticketsTable';
export default {
    components: {
        TicketsTable
    },

    props: {
        item: {
            type: Object,
            default: () => {
                return {};
            }
        }
    },

    data() {
        return {};
    },

    filters: {
        formatDate(value) {
            if (value) {
                return moment(String(value)).format('DD/MM/YYYY HH:mm');
            }
        },

        image(eventmedia) {
            if (eventmedia.length === 0) {
                return;
            }

            const media = eventmedia.find(item => item.file_type === 'image');
            return media.file;
        }
    },

    computed: {},

    mounted() {}
};
</script>
