<template>
    <div v-if="show" class="spinner-background">
        <b-spinner />
    </div>
</template>

<script>
export default {
    props: {
        show: {
            tyle: Boolean,
            default: false
        }
    }
};
</script>

<style scoped>
.spinner-background {
    position: fixed;
    z-index: 9;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(102, 102, 102, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}
</style>
