<template>
    <b-table
        stacked
        :fields="fields"
        :items="tickets | ticketsOnSale"
    />
</template>

<script>
import moment from 'moment';
export default {
    props: {
        tickets: {
            tyle: Array,
            default: []
        }
    },

    data() {
        return {
            fields: [
                {
                    key: 'name',
                    label: 'Name'
                },
                {
                    key: 'cost',
                    label: 'Cost'
                }
            ]
        };
    },

    filters: {
        ticketsOnSale(tickets) {
            const now = moment(new Date().toISOString());

            return tickets.filter(ticket => {
                const { sell_start, sell_end } = ticket;

                const start = moment(sell_start);
                const end = moment(sell_end);

                return moment(now).isBetween(start, end);
            });
        }
    }
};
</script>
