<template>
    <div id="app">
        <layout v-if="$route.meta.layout === 'default'">
            <router-view :key="$route.fullPath" />
        </layout>

        <error-layout v-if="$route.meta.layout === 'error'">
            <router-view :key="$route.fullPath" />
        </error-layout>
    </div>
</template>

<script>
import Layout from '@layouts/default';
import ErrorLayout from '@layouts/error';

export default {
    page: {
        titleTemplate(title) {
            return title;
        },

        meta: [{ name: 'description', content: 'App Name' }]
    },

    components: {
        Layout,
        ErrorLayout
    },

    data() {
        return {};
    },

    methods: {},

    mounted() {}
};
</script>
